[run]
source=q2_assembly
branch = True
omit =
    */tests*
    */__init__.py
    q2_assembly/_version.py
    versioneer.py

[report]
fail_under = 90
omit =
    */tests*
    */__init__.py
    q2_assembly/_version.py
    versioneer.py
